<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>controller.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <display-name>AgenciaMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Usuarioservlet</display-name>
    <servlet-name>Usuarioservlet</servlet-name>
    <servlet-class>controller.Usuarioservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuarioservlet</servlet-name>
    <url-pattern>/Usuarioservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteServlet</display-name>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>controller.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassagemServlet</display-name>
    <servlet-name>PassagemServlet</servlet-name>
    <servlet-class>controller.PassagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassagemServlet</servlet-name>
    <url-pattern>/PassagemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PedidoServlet</display-name>
    <servlet-name>PedidoServlet</servlet-name>
    <servlet-class>controller.PedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidoServlet</servlet-name>
    <url-pattern>/PedidoServlet</url-pattern>
  </servlet-mapping>
</web-app>